<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/results" method="POST">

    <select name="txtNumber">
        <option>
            5
        </option>
    </select>
       <!-- <input type="text" name="txtNumber"> -->
        <input type="submit" value="submit">
    </form>
</body>
</html>