<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Form Page</h1>
    <form action="/results" method="POST">
        <input type="text" name="nameInput"></br>
        <input type="text" name="email"></br>
        <textarea rows="4" cols="50" name="comments">
            </textarea></br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>