<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    <h1>Home Page</h1>
    {{> links}}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum dignissim felis sed maximus. Duis eget venenatis tortor. Vestibulum ac gravida ipsum, in consequat ligula. Vestibulum sit amet elit vel leo pulvinar placerat. Aenean in condimentum libero, et malesuada ex. Donec ac enim mattis magna hendrerit tempus sed nec dolor. Phasellus tincidunt velit quam. Phasellus tristique congue est, ac accumsan odio scelerisque eu. Morbi pharetra aliquam eros, sed lobortis velit luctus sed. Suspendisse ante diam, laoreet non pharetra at, vulputate cursus nulla. Nullam aliquet urna risus, nec viverra arcu pharetra vel. Phasellus ullamcorper, velit eget porttitor dignissim, mi libero convallis enim, non fringilla ipsum mi non dolor. Nullam erat odio, venenatis eu eleifend vitae, dictum a magna. Phasellus mollis semper augue et consequat. Nunc fermentum, turpis venenatis luctus pharetra, purus diam placerat libero, at placerat lectus urna non diam.</p>
</body>
</html>